body{
    margin: 0%;
    padding: 0%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* image */
.burger{
    width: 450px;
    position: relative;
    left:-20px;
}
/* Button */
.btn1{
    margin: 20px;
    border: none;
    height:30px;
    width:100px;
    justify-content:center;
    left: 588px;
    top:532px;
    background-color: rgb(168, 66, 7);
    border-radius: 50px;
    position: absolute;
}
/* divison */
.D1{
    position: absolute;
    top: 4px;
    left: 555px;
    display: flex;
}
/* a */
#a{
    list-style-type: none;
}
.ul{
    display: flex;
    margin-left: 550px;
    padding: 10px;
}
/* paragraph */
.p1{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.p2{
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large
}
/* listing */
.list{
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
}
/* Link coloring */
.ank{
    color: black;
    text-decoration: none;
}
